services:
  transcriber:
    build: ./whisper
    environment:
      - TZ=${TZ}
    volumes:
      - ./.env:/whisper/.env:ro
      - ./whisper/logs:/whisper/logs
      - "models:/models"
    depends_on:
      - database
    gpus: all
    stop_signal: SIGINT
    stop_grace_period: 30s

  database:
    image: postgres:18-alpine
    environment:
      - TZ=${TZ}
      - PGTZ=${TZ}
    env_file: ".env"
    volumes:
      - "pgdata:/var/lib/postgresql"
    command: postgres -c timezone=${TZ}

  api:
    build: ./api
    environment:
      - TZ=${TZ}
    volumes:
      - ./.env:/node/.env:ro
      - ./api/logs:/node/logs
    ports:
    - "80:80"
    depends_on:
      - database

volumes:
  models:
  pgdata: