services:
  transcriber:
    build: ./whisper
    # ports:
    #   - "8000:8000"
    gpus: all
  
  database:
    image: postgres:18-alpine
    env_file: ".env"
    # ports:
    #   - "5432:5432"

  api:
    build: ./api
    env_file: ".env"
    ports:
    - "8080:8080"

  