services:
  transcriber:
    build: ./whisper
    volumes:
      - ./.env:/whisper/.env:ro
      - ./whisper/logs:/whisper/logs
      - "models:/root/.cache/huggingface"
    # ports:
    #   - "8000:8000"
    gpus: all
  
  database:
    image: postgres:18-alpine
    env_file: ".env"
    # ports:
    #   - "5432:5432"
    volumes:
      - "pgdata:/var/lib/postgresql/data"

  api:
    build: ./api
    volumes:
      - ./.env:/node/.env:ro
    ports:
    - "8080:8080"

volumes:
  models:
  pgdata: