services:
  transcriber:
    build: ./whisper
    volumes:
      - ./.env:/whisper/.env:ro
      - ./whisper/logs:/whisper/logs
      - "models:/models"
    # ports:
    #   - "8000:8000"
    depends_on:
      - database
    gpus: all
    stop_signal: SIGINT
    stop_grace_period: 30s

  database:
    image: postgres:18-alpine
    env_file: ".env"
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - "pgdata:/var/lib/postgresql"

  api:
    build: ./api
    volumes:
      - ./.env:/node/.env:ro
    ports:
    - "80:80"
    depends_on:
      - transcriber

volumes:
  models:
  pgdata: